{% include "nav.html" %}
{% load static %}
<html>
<head>
    <title>about us page</title>
    <link rel="stylesheet" href="/static/css/about.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>  
<body>
    <div class="middle-section">
        <div class="text">
            <h5>ABOUT US</h5>
            <h1>Our Path Towards Success</h1>
            <p>
                Our goal is to connect talented job seekers with top companies. We provide an easy-to-use platform where you can find your
                 dream job effortlessly.Thousands of job listings from trusted companie Advanced job search filters to find the perfect match
                 Easy application process with resume uploads Dedicated support for job seekers and recruiters,
            </p>
            <a  href="#" class="btn btn-dark">Sign Up for Free</a>
        </div>
        <div class="image">
            <img src="{% static 'images/g5.jpeg' %}" alt="Description of the image">
        </div>
    </div>
</body>  
</html>
