{% load static %}
{% include 'nav.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>green web page</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>
<body>
    <div style="width:100vw">
   <div style="width:100vw;">
   <div id="main" style="height: 460px; width:100vw;">
    <h1 style="margin-left: 150px;">CONTACT<span style="color: orangered;"> US......</span></h1>
    <div id="cf" style="margin-left: 135px;">
        <div id="cff" ><img src="{% static 'images/m.jpg' %}" style="height: 100%; width: 100%"></div>
        <div id="cfs">
            <h4 style="color: red; margin-top: 0px;">You can find us on</h4>
            <h1 style="margin-top:0%;">Our Address</h1>
            <p style="font-size: 20px;"><span style="color: red; font-size: 25px;">Address   :</span> House Sector-J Janikipuram Lucknow(U.P)</p>
            <p style="font-size: 20px; margin-top: -20px; "><span style="color: red; font-size: 25px;">Telephone :</span> 86025314892, 45123970226</p>
            <p style="font-size: 20px; margin-top: -20px; "><span style="color: red; font-size: 25px;">Fax :</span> 0612-2531489</p>
            <p style="font-size: 20px; margin-top: -20px; "><span style="color: red; font-size: 25px;">Email  :</span> www.soft4153@gmai.com</p>
            <h1>Head Office</h1>
            <p style="margin-top: -10px; font-size: 20px;">Pro Tower <br>Near New Hanuman Temple<br>Kapurthala, Aliganj, Lucknow</p>
        </div>
         </div>
    
        
        
   </div>
   </div>
</div>
</body>
</html>