{% load static %}
{% include "creatornav.html" %}
<html>
    <head>
        <link rel="stylesheet" href="/static/css/login.css">
    </head>
<body>

{% if messages %}
    {% for message in messages %}
        <p style="color: red;">{{ message }}</p>
    {% endfor %}
{% endif %}

    <div class="bi" style=" width:100vw;padding-top:30px; height: 550px;background-image: url('{% static "images/i1.jpg" %}'); background-repeat: no-repeat; background-size: cover;">
    <form method="post" >
    {% csrf_token %}
    <center>  
        <div class="ccontainer mt-5 " style="width:60% ;box-shadow: inset -5px -5px rgba(0, 0, 0, 0.2);box-shadow:#333;">
           <div class="mb-4" > <center><u><b><h4 style="font-size:30px;color:white ;text-decoration: underline; "> Seeker Login Form</h4></b></u></center></div>
            <div class="mb-3" >
                <label class="form-label" style="color:white">Username:</label>
                <input class="form-control " placeholder="username" type="text" name="username" value="" required>
            </div>
            <div class="mb-3">
                <label class="form-label" style="color:white">Password:</label>
                <input class="form-control" placeholder="password" type="password" name="password" value="" required>
            </div>
                <button class=" btn btn-primary btn-sm mt-2" style="background-color:black ;border:2px solid black" type="submit">login</button></center>
            
        </div></center> 
    </form>
</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>

</html>
