{% extends "h.html"%}
{% load static %}
{% block content %} 
<html>
    <head>
    <title>Seeker register</title>
    <link rel="stylesheet" href="/static/css/login.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    </head>
<body>
    <form method='POST'>
    {% csrf_token %}
        <center>  
            <div class="bi" style=" width:100vw;padding-top:30px; height: 1000px;background-image: url('{% static "images/i1.jpg" %}'); background-repeat: no-repeat; background-size: cover;">
                <div class="srcontainer mt-5 " style="width:80%;padding:0px 30px ;box-shadow: inset -5px -5px rgba(0, 0, 0, 0.2);box-shadow:#333;">
                
               <div > <center><u><b><h4 style="font-size:30px;color:white ;text-decoration: underline; padding-top:10px">Seeker profile</h4></b></u></center></div>
                <div class="mb-3" >
                    <label for="u_name" class="form-label" style="color:white">name:</label>
                    <input class="form-control " id="u_name" type="text" name="sname"  value="" required >
                    <small class="text-danger" id="name-validation"></small>
                </div>
                <div class="mb-3">
                    <label class="form-label" style="color:white">Address:</label>
                    <input class="form-control" type="text" name="addr" value="" required>
                <div class="mb-3 mt-4">
                
                <div class="mb-3">
                    <label class="form-label" style="color:white">Phone-no:</label>
                    <input class="form-control" type="number"  name="sp" value="" required>
                </div>
                <div class="mb-3">
                    <label class="form-label" style="color:white">Email-Id:</label>
                    <input class="form-control" type="Email" name="em" value="" required>
                </div>
                <div class="mb-3">
                    <label class="form-label" style="color:white">Password:</label>
                    <input class="form-control" type="text" name="spw" value="" required>
                </div>
                <div class="mb-3">
                    <label class="form-label" style="color:white">Image:</label>
                    <input class="form-control" type="file" name="im" value="" required>
                </div>
                <div class="mb-3">
                    <label class="form-label" style="color:white">Select your Gender:</label>
                    <div style="border:1px solid lightgrey; padding:7px; border-radius:6px; background-color:white;" >
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gen" id="inlineRadio1" value="male">
                        <label class="form-check-label" for="inlineRadio1">Male</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gen" id="inlineRadio2" value="female">
                        <label class="form-check-label" for="inlineRadio2">Female</label>
                      </div>
                    </div>
                    
                </div>

                
                <button class=" btn btn-primary btn-sm mt-2" style="background-color:black ;border:2px solid black" type="submit">Submit</button>   
                </center> 
    </form>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        
</body>

</html>
{% endblock %}