{% extends "base.html"%}
{% load static %}
{% block content %}
<html>
    <head>
    <title>Seeker register</title>
    <link rel="stylesheet" href="/static/css/login.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    </head>
<body>
    {% if messages %}
    {% for message in messages %}
      <div class="alert alert-danger">{{ message }}</div>
    {% endfor %}
  {% endif %}
    <form method='POST'>
    {% csrf_token %}
        <center>  
            <div class="bi" style=" width:100vw;padding-top:30px; height: 800px;background-image: url('{% static "images/i1.jpg" %}'); background-repeat: no-repeat; background-size: cover;">
            <div class="srcontainer mt-5 " style="box-shadow: inset -5px -5px rgba(0, 0, 0, 0.2);box-shadow:#333;">
               <div > <center><u><b><h4 style="font-size:30px;color:white ;text-decoration: underline; "> Registation Form</h4></b></u></center></div>
                <div class="mb-3" >
                    <label for="u_name" class="form-label"  style="color:white">Username:</label>
                    <input class="form-control " id="u_name" type="text" name="u_name"  value="" required >
                    <small class="text-danger" id="name-validation"></small>
                </div>
                <div class="mb-3">
                    <label class="form-label"  style="color:white">Password:</label>
                    <input class="form-control" type="password" name="pwd" value="" required>
                <div class="mb-3 mt-4">
                <div class="mb-3">
                    <label class="form-label"  style="color:white">First-Name:</label>
                    <input class="form-control" type="text" name="fname" value="" required>
                </div>
                <div class="mb-3">
                    <label class="form-label"  style="color:white">Last-Name:</label>
                    <input class="form-control" type="text" name="lname" value="" required>
                </div>
                 <div>
                    <label class="form-label"  style="color:white">Role:</label>
                    <select name="r" class="form-control mb-3" required>
                        <option value="Seeker">Seeker</option>
                        <option  value="Creator">Creater</option>
                    </select>
                </div>
                <button class=" btn btn-primary btn-sm mt-2" style="background-color:black ;border:2px solid black" type="submit">Submit</button>   
            </div>    
            </center> 
    </form>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
       
</body>

</html>
{% endblock %}









# Generated by Django 5.1.6 on 2025-02-22 06:32

import django.contrib.auth.models
import django.contrib.auth.validators
import django.core.validators
import django.db.models.deletion
import django.utils.timezone
from django.conf import settings
from django.db import migrations, models


class Migration(migrations.Migration):

    initial = True

    dependencies = [
        ('auth', '0012_alter_user_first_name_max_length'),
        ('creator', '0001_initial'),
    ]

    operations = [
        migrations.CreateModel(
            name='CustomUser',
            fields=[
                ('id', models.BigAutoField(auto_created=True, primary_key=True, serialize=False, verbose_name='ID')),
                ('password', models.CharField(max_length=128, verbose_name='password')),
                ('last_login', models.DateTimeField(blank=True, null=True, verbose_name='last login')),
                ('is_superuser', models.BooleanField(default=False, help_text='Designates that this user has all permissions without explicitly assigning them.', verbose_name='superuser status')),
                ('username', models.CharField(error_messages={'unique': 'A user with that username already exists.'}, help_text='Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.', max_length=150, unique=True, validators=[django.contrib.auth.validators.UnicodeUsernameValidator()], verbose_name='username')),
                ('first_name', models.CharField(blank=True, max_length=150, verbose_name='first name')),
                ('last_name', models.CharField(blank=True, max_length=150, verbose_name='last name')),
                ('email', models.EmailField(blank=True, max_length=254, verbose_name='email address')),
                ('is_staff', models.BooleanField(default=False, help_text='Designates whether the user can log into this admin site.', verbose_name='staff status')),
                ('is_active', models.BooleanField(default=True, help_text='Designates whether this user should be treated as active. Unselect this instead of deleting accounts.', verbose_name='active')),
                ('date_joined', models.DateTimeField(default=django.utils.timezone.now, verbose_name='date joined')),
                ('user_type', models.CharField(choices=[('creator', 'Creator'), ('seeker', 'Seeker')], default='seeker', max_length=10)),
                ('groups', models.ManyToManyField(blank=True, help_text='The groups this user belongs to. A user will get all permissions granted to each of their groups.', related_name='user_set', related_query_name='user', to='auth.group', verbose_name='groups')),
                ('user_permissions', models.ManyToManyField(blank=True, help_text='Specific permissions for this user.', related_name='user_set', related_query_name='user', to='auth.permission', verbose_name='user permissions')),
            ],
            options={
                'verbose_name': 'user',
                'verbose_name_plural': 'users',
                'abstract': False,
            },
            managers=[
                ('objects', django.contrib.auth.models.UserManager()),
            ],
        ),
        migrations.CreateModel(
            name='CreatorProfile',
            fields=[
                ('basemodel_ptr', models.OneToOneField(auto_created=True, on_delete=django.db.models.deletion.CASCADE, parent_link=True, primary_key=True, serialize=False, to='creator.basemodel')),
                ('name', models.CharField(max_length=100)),
                ('address', models.CharField(blank=True, max_length=200, null=True)),
                ('phone_number', models.CharField(blank=True, max_length=11, validators=[django.core.validators.RegexValidator(message="Phone number must be entered in the format: '+999999999'. Up to 11 digits allowed.", regex='^\\+?1?\\d{9,11}$')])),
                ('user_connected', models.ForeignKey(on_delete=django.db.models.deletion.CASCADE, to=settings.AUTH_USER_MODEL)),
            ],
            bases=('creator.basemodel',),
        ),
        
       migrations.CreateModel(
            name='SeekerProfile',
            fields=[
                ('basemodel_ptr', models.OneToOneField(auto_created=True, on_delete=django.db.models.deletion.CASCADE, parent_link=True, primary_key=True, serialize=False, to='creator.basemodel')),
                ('name', models.CharField(max_length=100)),
                ('address', models.CharField(blank=True, max_length=200, null=True)),
                ('phone_number', models.CharField(blank=True, max_length=11, validators=[django.core.validators.RegexValidator(message="Phone number must be entered in the format: '+999999999'. Up to 11 digits allowed.", regex='^\\+?1?\\d{9,11}$')])),
                ('user_connected', models.ForeignKey(on_delete=django.db.models.deletion.CASCADE, to=settings.AUTH_USER_MODEL)),
            ],
            bases=('creator.basemodel',),
        ),
        migrations.CreateModel(
            name='addjob',
            fields=[
                ('basemodel_ptr', models.OneToOneField(auto_created=True, on_delete=django.db.models.deletion.CASCADE, parent_link=True, primary_key=True, serialize=False, to='creator.basemodel')),
                ('company_name', models.CharField(max_length=30)),
                ('job_title', models.CharField(max_length=30)),
                ('sdate', models.DateField()),
                ('edate', models.DateField()),
                ('salary', models.FloatField(max_length=20)),
                ('experience', models.CharField(max_length=30)),
                ('location', models.CharField(max_length=50)),
                ('skills', models.CharField(max_length=50)),
                ('descri', models.CharField(max_length=100)),
            ],
            bases=('creator.basemodel',),
        ),
    ]
